@tailwind base;
@tailwind components;
@tailwind utilities;

$primRed: #945145;
$secGreen: #b4bc64;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	min-width: 0;
	scroll-behavior: smooth;
}

html {
	overflow-x: hidden;
	width: 100vw !important;
	height: fit-content;
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 142.1 76.2% 36.3%;
		--primary-foreground: 355.7 100% 97.3%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 142.1 76.2% 36.3%;
		--radius: 0.75rem;
	}

	.dark {
		--background: 20 14.3% 4.1%;
		--foreground: 0 0% 95%;
		--card: 24 9.8% 10%;
		--card-foreground: 0 0% 95%;
		--popover: 0 0% 9%;
		--popover-foreground: 0 0% 95%;
		--primary: 142.1 70.6% 45.3%;
		--primary-foreground: 144.9 80.4% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 0 0% 15%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 12 6.5% 15.1%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 142.4 71.8% 29.2%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

// hero section
.hero {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 3s both;
	animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 3s both;
	@-webkit-keyframes slide-top {
		0% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
			opacity: 0;
		}
		100% {
			-webkit-transform: translateY(-100px);
			transform: translateY(-100px);
		}
	}
	@keyframes slide-top {
		0% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
			opacity: 0;
		}
		100% {
			-webkit-transform: translateY(-100px);
			transform: translateY(-100px);
		}
	}
}
.highlight-container,
.highlight {
	position: relative;
}

.highlight-container {
	display: inline-block;
}
.highlight-container:before {
	content: " ";
	display: block;
	height: 90%;
	opacity: 0;
	margin-left: -3px;
	margin-right: -3px;
	position: absolute;
	background: green;
	transform: rotate(-0.5deg);
	top: -1px;
	right: -1px;
	border-radius: 3% 0% 2% 0%;
	padding: 10px 3px 3px 10px;
	animation: paint 0.5s ease 2s forwards;
	@keyframes paint {
		from {
			width: 2%;
		}
		to {
			width: 100%;
			opacity: 1;
		}
	}
}

// header for each section
h2.header {
	&::after {
		content: "";
		display: block;
		background-color: green;
		width: 2.8125rem;
		height: 0.125rem;
		margin-left: auto;
		margin-top: 0.75rem;
	}
}
