.hero {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 3s both;
	animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 3s both;
	@-webkit-keyframes slide-top {
		0% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
			opacity: 0;
		}
		100% {
			-webkit-transform: translateY(-100px);
			transform: translateY(-100px);
		}
	}
	@keyframes slide-top {
		0% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
			opacity: 0;
		}
		100% {
			-webkit-transform: translateY(-100px);
			transform: translateY(-100px);
		}
	}

	.content {
		.highlight-container,
		.highlight {
			position: relative;
		}

		.highlight-container {
			display: inline-block;
		}
		.highlight-container::after{
						content: " ";
			display: block;
			height: 90%;
			opacity: 0;
			margin-left: -1px;
			margin-right: -1px;
			position: absolute;
			background: blue;
			transform: rotate(.8deg);
			bottom: -3px;
			right: -2px;
			border-radius: 3% 0% 2% 0%;
			padding: 10px 3px 3px 10px;
			animation: paint 0.5s ease 4s forwards;
			z-index: -1;
			
		}
		.highlight-container:before {
			content: " ";
			display: block;
			height: 90%;
			opacity: 0;
			margin-left: -1px;
			margin-right: -1px;
			position: absolute;
			background: blue;
			transform: rotate(-0.5deg);
			top: -1px;
			right: -1px;
			border-radius: 3% 0% 2% 0%;
			padding: 10px 3px 3px 10px;
			animation: paint 0.5s ease 4s forwards;
	
			@keyframes paint {
				0% {
					width: 2%;
				}
				100%{
					width: 100%;
					opacity: 1;
				}
			}
		}
	}
}
